<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>Angular.js项目应用</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand highlight" href="#">掘金</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <!-- ng-class="{true:'active',false:''}[currentIndex==0]" ng-click="click(0)" -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav visible-xs visible-sm">
	      	<li class="dropdown active">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav }}
				<span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li ng-class="{true:'active',false:''}[nav=='首页']" ng-click="click('首页')"><a ui-sref="home">首页</a></li>
		            <li ng-class="{true:'active',false:''}[nav=='专栏']" ng-click="click('专栏')"><a ui-sref="column">专栏</a></li>
		            <li ng-class="{true:'active',false:''}[nav=='收藏集']" ng-click="click('收藏集')"><a ui-sref="collect">收藏集</a></li>
		            <li ng-class="{true:'active',false:''}[nav=='发现']" ng-click="click('发现')"><a ui-sref="find">发现</a></li>
		            <li ng-class="{true:'active',false:''}[nav=='开源库']" ng-click="click('开源库')"><a ui-sref="opensource">开源库</a></li>
				</ul>
			</li>
	      </ul>
	      <ul class="nav navbar-nav hidden-xs hidden-sm" >
	        <li ng-class="{true:'active',false:''}[nav=='首页']" ng-click="click('首页')"><a ui-sref="home" >首页</a></li>
	        <li ng-class="{true:'active',false:''}[nav=='专栏']" ng-click="click('专栏')"><a ui-sref="column">专栏</a></li>
	        <li ng-class="{true:'active',false:''}[nav=='收藏集']" ng-click="click('收藏集')"><a ui-sref="collect">收藏集</a></li>
	        <li ng-class="{true:'active',false:''}[nav=='发现']" ng-click="click('发现')"><a ui-sref="find">发现</a></li>
	        <li ng-class="{true:'active',false:''}[nav=='开源库']" ng-click="click('开源库')"><a ui-sref="opensource">开源库</a></li>
	        <li class="search">
	            <form target="_blank" action="/search" accept-charset="UTF-8" method="get">
	              	<input type="text" name="q" id="q" value="" autocomplete="off" placeholder="搜索" class="search-input" />
	              	<a class="search-btn" href="javascript:void(null)"><span class="glyphicon glyphicon-search"></span></a>
				</form>          
			</li>
	        <li><a href="#" class="highlight"><span class="glyphicon glyphicon-list-alt"></span> 写文章</a></li>
	        <li><a href="javascript:;">|</a></li> 
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
	       	<li class="login"><span><a href="#">登录</a> · <a href="#">注册</a></span></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<!-- 内容区域 -->
	
	<div ui-view></div>

	<go-to-top min-height="840" datas="datas"></go-to-top>
 
	<!-- 必须的插件 -->
	<script type="text/javascript" src='js/jquery－1.12.4.min.js'></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-ui-router.js"></script>
	<!-- 自己的app.js文件 -->
	<script type="text/javascript" src="js/app.js"></script>
	
</body>
</html>